@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
body{
    background-color: bisque;
}
h1{
    color: black;
    font-family: 'PT Serif', serif;
    text-align: center;
    font-size: 60px;
}
p{
    color: #fff;
}